version: '3'
services:

  redis:
    image: redis:alpine

  web:
    build:
      context: .
      dockerfile: ./docker/web/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - app
    links:
      - app

  app:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    depends_on:
      - job
    links:
      - job

  job:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    command: pipenv run celery -A manage.celery worker
    depends_on:
      - redis
    links:
      - redis

  job-medium:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    command: sleep 5; pipenv run celery -A manage.celery worker
    volumes:
      - ./docker/test/conf/flask/config_medium.py:/app/instance/config.py:ro
    depends_on:
      - redis
    links:
      - redis

  test-small:
    build:
      context: .
      dockerfile: ./docker/test/Dockerfile

  test-medium:
    build:
      context: .
      dockerfile: ./docker/test/Dockerfile
    command: pipenv run flask cov medium
    volumes:
      - ./docker/test/conf/flask/config_medium.py:/app/instance/config.py:ro
    depends_on:
      - job-medium
    links:
      - job-medium

  test-large:
    build:
      context: .
      dockerfile: ./docker/test/Dockerfile
    command: pipenv run flask cov large
    volumes:
      - ./docker/test/conf/flask/config_large.py:/app/instance/config.py:ro
    depends_on:
      - web
    links:
      - web
    environment:
      WEB_DOMAIN: web
