[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]
coverage = "*"
sqlalchemy = "*"
requests = "*"
pre-commit = "*"
flake8 = "*"
black = "*"

[packages]
flask = "*"
flask-celery-helper = "*"
redis = "*"

[requires]
python_version = "3.6"
