[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
coverage = "*"
requests = "*"
pre-commit = "*"

[packages]
flask = "*"
flask-celery-helper = "*"
redis = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
