-i https://pypi.douban.com/simple/
amqp==2.4.0
billiard==3.5.0.5
celery==4.2.1
click==7.0
flask-celery-helper==1.1.0
flask==1.0.2
itsdangerous==1.1.0
jinja2==2.10
kombu==4.2.2.post1
markupsafe==1.1.0
pytz==2018.9
redis==3.1.0
vine==1.2.0
werkzeug==0.14.1
